<section class="overlay">

  <div class="timer-container">
    <app-crono [congregation]="congregation" *ngIf="congregation.id"></app-crono>
  </div>

  <div class="manos-container">
    <ul class="manos-container-lista">
      <li    [ngStyle]="{
        'font-size': congregation?.sizeTags + 'px' || '45px',
        'color': congregation?.colorTags || '#ebe2e2'
      }" class="manos-container-lista-item" *ngFor="let user of raisedHands">
      <ng-container *ngIf="congregation.showEmoji">🖐</ng-container> {{ user }}</li>
    </ul>
  </div>
</section>

<div class="p-4">
 <div class="text-white"> {{joinError}}</div>
</div>

<div id="zoom-container" style="width: 100%; height: 600px;"></div>
